/node_modules/
/public/build/
/public/assets/bootstrap/
/public/assets/bootstrap/css/
/public/assets/bootstrap/js/
/private/keys/
/private/logs/

.DS_Store
server
package-lock.json
server.exe
package.json